{% extends "layout.html" %}
{% block container %}
    <div class="usuario">
        <h3>Archivos del Usuario</h3>
        <hr/>
        <!-- Tabla para mostrar los datos de cada archivo del usuario -->
        <table class="table">
            {% if archivosUser is not null %}
            <thead>
                <tr>
                    <th scope="col">Proyecto</th>
                    <th scope="col">Archivo</th>
                </tr>
            </thead>
            <tbody>
            {% endif %}            
            {% for archivo in archivosUser %}
                <tr>
                    <td>{{archivo.nombreProyecto}}</td>                        
                    <td>{{archivo.nombreArchivo}}</td>     
                </tr>
                {% else %}
                <div id="mensajeArchivosUser" class="mensajeProyecto">
                    <h5>El usuario no ha subido ningún archivo</h5>
                </div>
                {% endfor %}
            {% if archivosUser is not null %}    
            </tbody>
        </table>
            {% endif %}
        <hr/>
    </div>
    <div class="openAside" >
        <span class="glyphicon glyphicon-chevron-left" onclick="openNav()"></span>
    </div>
    <aside>
        <div class="closeAside" >
            <span class="glyphicon glyphicon-chevron-right" onclick="closeNav()"></span>
        </div>
        <h4><strong>Acciones:</strong></h4>
        <a href="index.php?controller=tarea&action=tareasUsuario&usuario={{user.idUser}}" class="btn btn-info btn-sm acciones-btns" title="Tareas del Usuario">Tareas del Usuario</a>
        <a href="index.php?controller=comentario&action=comentariosUsuario&usuario={{user.idUser}}" class="btn btn-info btn-sm acciones-btns" title="Comentarios del Usuario">Comentarios del Usuario</a>
        <a href="javascript: history.back()" class="btn btn-primary btn-sm acciones-btns" title="Volver">Volver</a>
    </aside>
{% endblock %}