{% extends "layout.html" %}
{% block container %}
<div>
    {% if nombreProyecto is defined %}
        <h3>Archivos de {{nombreProyecto}}</h3>
    {% endif %}
    <hr/>
    <section class="usuario">
        {% if archivos is not null %}
        <a class="btn btn-info btn-sm" id="descargarArchivos" >Descargar archivos <span class="glyphicon glyphicon-download"></span></a>
        <!-- Tabla para mostrar los datos de cada archivo del proyecto -->
        <form id="formListaArchivos" method="post">
            <table class="table col-lg-12">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Subido por</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
        {% endif %}
        {% for archivo in archivos %}
                <tr>
                    <td><input type="checkbox" name="archivosSeleccionados[]" value="{{archivo.idArchivo}}"></td>
                    <td>{{archivo.nombreArchivo}}</td>
                    <td><a href="index.php?action=buscar&username={{archivo.username}}">{{archivo.username}}</a></td>
                    <td>
                        <a id="enlaceDelete" class="acciones-btns" href="index.php?controller=archivo&action=eliminar&idArchivo={{archivo.idArchivo}}&nombreArchivo={{archivo.nombreArchivo}}&proyecto={{idProyecto}}&nombreProyecto={{nombreProyecto}}">
                            <button type="button" class="eliminarButton btn btn-danger btn-sm">Eliminar</button>
                        </a>
                    </td>
                </tr>
        {% else %}
                <div class="mensajeProyecto">
                    <h5>El proyecto {{nombreProyecto}} no tiene ningun archivo subido</h5>
                </div>
        {% endfor %}
        {% if archivos is not null %}
                </tbody>
            </table>
        </form>
        {% endif %}
        <hr>
    </section>
</div>
<aside>
    <form id="formArchivos" method="post" enctype="multipart/form-data">
        <input type="file" id="archivos" name="archivos[]" class="form-control" multiple/>
        <input type="hidden" id="idProyecto" name="idProyecto" value="{{idProyecto}}">
        <input type="hidden" id="nombreProyecto" name="nombreProyecto" value="{{nombreProyecto}}">
        <br>
        <a href="#" id="subirArchivos" class="btn btn-success btn-sm" title="Subir Archivo">Subir archivo</a>
    </form>
    <br>
    <!--
    Este codigo es para sacar una barra de progreso, quitado por razones de usabilidad
    <div id="#progress-bar" class="progress">
        <div class="progress-bar  progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow=""
             aria-valuemin="0" aria-valuemax="100">
            <span class="status"></span>
        </div>
    </div>-->
    <hr class="separadorAside"/>
    <h4><strong>Acciones:</strong></h4>
    <a href="index.php?controller=participante&action=listadoParticipantes&proyecto={{proyecto.idProyecto}}&idUsuario=<?php ?>" class="btn btn-info btn-sm acciones-btns" title="Ver Participantes">Ver Participantes</a>
    <a href="" class="btn btn-info btn-sm col-xs-12 acciones-btns" title="Ver Comentarios" >Ver Comentarios</a>
    <a href="javascript: history.back()" class="btn btn-primary btn-sm acciones-btns" title="Volver">Volver</a>
</aside>
<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
</div>
{% endblock %}
{% block scripts %}
    <script src="/../nonecollab/js/Upload.js"></script>
    <script src="/../nonecollab/js/Modal.js"></script>
    <script src="/../nonecollab/js/archivoJS.js"></script>
{% endblock %}