{% extends "layout.html" %}
{% block container %}
    <div class="usuario">
        <h3>Comentarios del Usuario</h3>
        <hr/>
        <!-- Tabla para mostrar los datos de cada comentario del usuario -->
        <table class="table col-lg-12">
            {% if comentariosUser is not null %}
            <thead>
                <tr>
                    <th scope="col">Proyecto</th>
                    <th scope="col">Comentario</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Editado</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% endif %}            
            {% for comentario in comentariosUser %}
                <tr>
                    <td>{{comentario.nombreProyecto}}</td>                        
                    <td>{{comentario.contenido}}</td>     
                    <td>{{comentario.fecha}}</td>
                    <td>{{comentario.editado}}</td>
                    <td>
                        <!-- Enlace para el boton Eliminar para eliminar de BD el archivo seleccionado (se pasa como action -> eliminar) -->
                        <a data-toggle="modal" data-target="#confirmarEliminacion<?php echo $i ?>" class="btn btn-danger btn-sm" style="text-decoration: none">
                            Eliminar
                        </a>
                        <!-- Modal de bootstrap para confirmar la eliminación del proyecto -->
                        <div class="modal fade" id="confirmarEliminacion<?//php echo $i ?>" tabindex="-1" role="dialog" aria-labelledby="confirmarEliminacion" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><strong>Confirmar eliminación</strong></h5>
                                    </div>
                                    <div class="modal-body">
                                        Indique si desea eliminar el comentario:
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                                        <button type="button" class="btn btn-danger" onclick="location.replace('index.php?controller=comentario&action=eliminar&idComentario={{comentario.idProyecto}}&origen=usuario')">ELIMINAR</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% else %}
                <div id="mensajeComentariosUser" style="border: 1px solid black; text-align: center;">
                    <h5>El usuario no ha escrito ningún comentario</h5>
                </div>
            {% endfor %}  
            {% if comentariosUser is not null %}
            </tbody>
        </table>
            {% endif %}
        <hr/>
    </div>
    <div class="openAside" >
        <span class="glyphicon glyphicon-chevron-left" onclick="openNav()"></span>
    </div>
    <aside>
        <div class="closeAside" >
            <span class="glyphicon glyphicon-chevron-right" onclick="closeNav()"></span>
        </div>
        <h4><strong>Acciones:</strong></h4>
        <a href="index.php?controller=tarea&action=tareasUsuario&usuario={{user.idUser}}" class="col-xs-12 btn btn-info btn-sm acciones-btns" title="Tareas del Usuario">Tareas del Usuario</a>
        <a href="index.php?controller=archivo&action=archivosUsuario&usuario={{user.idUser}}" class="col-xs-12 btn btn-info btn-sm acciones-btns" title="Archivos del Usuario">Archivos del Usuario</a>
        <a href="javascript: history.back()" class="col-xs-12 btn btn-primary btn-sm acciones-btns" title="Volver">Volver</a>
    </aside>
{% endblock %}
