{% extends "layout.html" %}
{% block container%}
    <form action="index.php?controller=vino&action=update" method="post" class="col-lg-5">
        <h3>Editar Vino</h3>
        <hr/>
        <input type="hidden" name="idvino" class="form-control" value="{{ idvino }}"/>
        Nombre: <input type="text" name="nombre" class="form-control" value="{{ nombre }}"/>
        Descripción: <input type="text" name="descripcion" class="form-control" value="{{ descripcion }} ?>"/>
        Año: <input type="text" name="anyo" class="form-control" value="{{ anyo }}"/>
        Tipo: <input type="text" name="tipo" class="form-control" value="{{ tipo }}"/>
        Alcohol: <input type="text" name="alcohol" class="form-control" value="{{ alcohol }}"/>
        <input type="hidden" name="bodega" class="form-control" value="{{ bodega }}"/>
        <input type="submit" value="enviar" class="btn btn-success"/>
    </form>


    <div class="col-lg-7">
        <hr/>
        <a href="./index.php">Volver</a>
    </div>
    <div class="col-lg-7" style="height:400px;">
        <hr/>
    </div>
{% endblock %}
