{% extends "layout.html" %}
{% block container %}
    <div class="tareas">
        {% if proyecto is defined %}
            <h3>Panel del Proyecto - <strong>{{proyecto.nombre}}</strong></h3>
        {% endif %}
        <hr/>
        {% for tarea in tareas %}
        <div class="panel panel-default" style="flex-basis: 45%;">
            <div class="panel-heading">Tarea: <strong>{{tarea.nombreTarea}}</strong></div>
            <ul class="list-group">
                <li class="list-group-item">Inicio: <strong>{{tarea.fechaInicioTarea}}</strong></li>
                <li class="list-group-item">Finalización: <strong>{{tarea.fechaFinTarea}}</strong></li>
                <li class="list-group-item">Urgente: <strong>{{tarea.urgente}}</strong></li>
                <li class="list-group-item">Asignada a: <strong>Falta por crear columna en la BD para asignar personas</strong>
                </li>
                <li class="list-group-item">
                    <span>Finalizada:&nbsp;&nbsp;<input type="checkbox" name="finalizada" value="si" style="transform: scale(2)"></span>&nbsp;&nbsp;
                    <a href="#" class="col-xs-4 col-xs-offset-8 btn btn-warning btn-sm" style="margin-top: -25px;"><span class="glyphicon glyphicon-edit"></span>&nbsp;Editar</a>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
<aside>
    <h4><strong>Crear nueva Tarea:</strong></h4>
        <form id="formTarea" method="post" action="/../reto3/js/tareaJS.js">
            Nombre Tarea:
            <input type="text" id="nnt" name="nombreTarea" class="form-control" required />
            Fecha Inicio:
            <input type="date" id="fit" name="fechaInicioTarea" class="form-control" required />
            Fecha Finalización:
            <input type="date" id="fft" name="fechaFinTarea" class="form-control" required />
            Urgente:&nbsp;&nbsp;
            <span class="form-check form-check-inline">
                <strong>Si</strong>&nbsp;<input class="form-check-input" type="radio" name="urgente" id="u1" value="si" checked>
            </span>
            <span class="form-check form-check-inline">
                <strong>No</strong>&nbsp;<input class="form-check-input" type="radio" name="urgente" id="u2" value="no">
            </span>
            Asignar tarea a:&nbsp;&nbsp;
            <select class="chosen-select" id="et" name="encargadoTarea" required>
                <option></option>
                {% for participante in participantes %}
                    <option value='{{participante.idParticipante}}'><strong>{{participante.username}}</strong></option>
                {% endfor %}
            </select>
            <input type="hidden" id="ip" name="proyecto" value="{{proyecto.idProyecto}}" />
            <br>
            <input type="submit" id="nuevaTarea" class="col-xs-12 btn btn-success btn-sm" title="Crear Tarea" value="Crear Tarea"/>
        </form>
        <hr style="border:1px solid black;"/>
        <h4><strong>Acciones:</strong></h4>
        <a href="index.php?controller=participante&action=listadoParticipantes&proyecto={{proyecto.idProyecto}}" class="btn btn-info btn-sm acciones-btns" title="Ver Participantes en el Proyecto">Participantes Proyecto</a>
        <a href="index.php?controller=archivo&action=archivosPorProyecto&proyecto={{proyecto.idProyecto}}&proyectoNombre={{proyecto.nombre}}&responsable={{proyecto.responsable}}" class="btn btn-info btn-sm acciones-btns" title="Ver Archivos del Proyecto">Archivos Proyecto</a>
        <a href="index.php?controller=comentario&action=comentariosPorProyecto&proyecto={{proyecto.idProyecto}}&nombreProyecto={{proyecto.nombre}}&responsable={{proyecto.responsable}}&participante={{idParticipante}}" class="btn btn-info btn-sm acciones-btns" title="Ver Comentarios en el Proyecto">Comentarios Proyecto</a>
        {% if origen == 'gestionando' %}
            <a href="index.php?controller=proyecto&action=eliminar&proyecto={{proyecto.idProyecto}}" title="Eliminar Proyecto">
                <button type="button" class="col-xs-12 btn btn-danger btn-sm acciones-btns eliminarButton" value="eliminar">Eliminar</button>
            </a>
        {% elseif origen == 'participando' %}
            <a href="index.php?controller=participante&action=eliminar&participante={{idParticipante}}" title="Dejar Proyecto">
                <button type="button" class="col-xs-12 btn btn-danger btn-sm acciones-btns eliminarButton" value="dejar">Dejar Proyecto</button>
            </a>
        {% endif %}
        <a href="javascript: history.back()" class="btn btn-primary btn-sm acciones-btns" title="Volver">Volver</a>
</aside>
<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
</div>
{% endblock %}
{% block scripts %}
    <script src="/../nonecollab/js/chosen.jquery.js" type="text/javascript"></script>
    <script src="/../nonecollab/css/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
    <script src="/../nonecollab/css/docsupport/init.js" type="text/javascript" charset="utf-8"></script>
    <script src="/../nonecollab/js/Modal.js"></script>
    <script src="/../nonecollab/js/tareaJS.js"></script>
{% endblock %}