{% extends "layout.html" %}
{% block container %}
    <div class="col-lg-9" style="overflow-x:scroll;">
        <h3>Panel del Proyecto - {{proyecto.nombre}}</h3>
        <hr/>
        {% for tarea in tareas %}
            <!-- <div class="col-lg-2" style="width: 300px; height: 200px; border: 1px solid black; padding-top: 10px; padding-left: 25px;"> -->
            <ul class="col-lg-5 list-group">
                <li class="list-group-item">Tarea: <strong>{{tarea.nombreTarea}}</strong></li>
                <li class="list-group-item">Inicio: <strong>{{tarea.fechaInicioTarea}}</strong></li>
                <li class="list-group-item">Finalización: <strong>{{tarea.fechaFinTarea}}</strong></li>
                <li class="list-group-item">Urgente: <strong>{{tarea.urgente}}</strong></li>
                <li class="col-lg-12 list-group-item">Asignada a: <strong>Falta por crear columna en la BD para asignar personas</strong>
                </li>
                <li class="col-lg-12 list-group-item">
                    <span>Finalizada:&nbsp;&nbsp;<input type="checkbox" name="finalizada" value="si" style="transform: scale(2)"></span>&nbsp;&nbsp;
                    <a href="#" class="col-lg-4 col-lg-offset-8 btn btn-warning btn-sm" style="margin-top: -25px;"><span class="glyphicon glyphicon-edit"></span>&nbsp;Editar</a>
                </li>
            </ul>
        {% endfor %}
    </div>
<aside class="col-lg-3" style="border-left: 1px solid black !important; margin-top: 30px;">
    <h4><strong>Crear nueva Tarea:</strong></h4>
    <div>
        <form id="formTarea" method="post" action="/../reto3/js/tareaJS.js">
            Nombre Tarea:
            <input type="text" id="nnt" name="nombreTarea" class="form-control" required />
            <br>
            Fecha Inicio:
            <input type="date" id="fit" name="fechaInicioTarea" class="form-control" required />
            <br>
            Fecha Finalización:
            <input type="date" id="fft" name="fechaFinTarea" class="form-control" required />
            <br>
            Urgente:&nbsp;&nbsp;
            <span class="form-check form-check-inline">
                        <strong>Si</strong>&nbsp;<input class="form-check-input" type="radio" name="urgente" id="u1" value="si" checked>
                    </span>
            &nbsp;&nbsp;&nbsp;
            <span class="form-check form-check-inline">
                        <strong>No</strong>&nbsp;<input class="form-check-input" type="radio" name="urgente" id="u2" value="no">
                    </span>
            <br><br>
            Asignar tarea a:&nbsp;&nbsp;
            <select class="form-control-sm" id="et" name="encargadoTarea" required>
                <option></option>
                {% for participante in participantes %}
                    <option value='{{participante.idParticipante}}'><strong>{{participante.username}}</strong></option>
                {% endfor %}
            </select>
            <input type="hidden" id="ip" name="proyecto" value="{{proyecto.idProyecto}}" />
            <br><br>
            <input type="submit" id="nuevaTarea" class="col-xs-12 btn btn-success btn-sm" title="Crear Tarea" value="Crear Tarea"/>
        </form>
        <br>
        <hr style="border:1px solid black;"/>
        <h4><strong>Acciones:</strong></h4>
        <a href="index.php?controller=participante&action=participantesPorProyecto&proyecto={{proyecto.idProyecto}}" class="col-xs-12 btn btn-info btn-sm acciones-btns" title="Ver Participantes en el Proyecto">Participantes Proyecto</a>
        <br><br>
        <a href="index.php?controller=archivo&action=archivosPorProyecto&proyecto={{proyecto.idProyecto}}&proyectoNombre={{proyecto.nombre}}" class="col-xs-12 btn btn-info btn-sm acciones-btns" title="Ver Archivos del Proyecto">Archivos Proyecto</a>
        <br><br>
        <a href="index.php?controller=comentario&action=comentariosPorProyecto&proyecto={{proyecto.idProyecto}}" class="col-xs-12 btn btn-info btn-sm acciones-btns" title="Ver Comentarios en el Proyecto">Comentarios Proyecto</a>
        <br><br>
        <a class="col-xs-12 btn btn-danger btn-sm acciones-btns" title="Eliminar Proyecto" data-toggle="modal" data-target="#confirmarEliminacion">Eliminar Proyecto</a>
        <br><br>
        <a href="javascript: history.back()" class="col-xs-12 btn btn-primary btn-sm acciones-btns" title="Volver">Volver</a>

        <!-- Modal de bootstrap para confirmar la eliminación del proyecto -->
        <div class="modal fade" id="confirmarEliminacion" tabindex="-1" role="dialog" aria-labelledby="confirmarEliminacion" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><strong>Confirmar eliminación</strong></h5>
                    </div>
                    <div class="modal-body">
                        Indique si realmente desea eliminar el proyecto:
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                        <button type="button" class="btn btn-danger" onclick="location.replace('index.php?controller=proyectos&action=eliminar&idProyecto={{proyecto.idProyecto}}')">ELIMINAR</button>
                    </div>
                </div>
            </div>
        </div>
</aside>
<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
</div>
{% endblock %}
{% block scripts %}
<script src="/../nonecollab/js/Modal.js"></script>
<script src="/../nonecollab/js/tareaJS.js"></script>
{% endblock %}