{% extends "layout.html" %}
{% block container %}
    <div class="col-lg-9">
        {% if tareasUser is defined %}
        <h3>Tareas del Usuario <strong>{{user.username}}</strong></h3>
        {% endif %}
        <hr/>
        <table class="table col-lg-12">
            <!-- Tabla para mostrar los datos de cada tarea del usuario -->
            {% if tareasUser is not null %}
                <thead>
                    <tr>
                        <th scope="col">Proyecto</th>
                        <th scope="col">Tarea</th>
                        <th scope="col">Inicio</th>
                        <th scope="col">Finalización</th>
                        <th scope="col">Urgente</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
            {% endif %}
            
            {% for tarea in tareasUser %}
                <tr>
                    <td>{{tarea.nombreProyecto}}</td>
                    <td>{{tarea.nombreTarea}}</td>
                    <td>{{tarea.proyecto}}</td>
                    <td>{{tarea.responsable}}</td>
                    <td>{{tarea.urgente}}</td>
                    <td>
                        {% if user.idUser == tarea.responsable %}
                        {% set origen = 'gestionando' %}
                        {% elseif user.idUser != tarea.responsable %}
                        {% set origen = 'participando' %}
                        {% endif %}
                        <!-- Enlace para el boton Gestionar para mostrar los datos del proyecto en el que está la tarea (se pasa como action -> verDetalle) -->
                        <a href="index.php?controller=proyecto&action=verDetalle&proyecto={{tarea.proyecto}}&tarea={{tarea.idTarea}}&participante={{tarea.participante}}&origen={{origen}}" class="btn btn-info btn-sm" style="text-decoration: none">
                            Entrar
                        </a>
                    </td>
                </tr>
            {% else %}
                <div id="mensajeTareasUser" style="border: 1px solid black; text-align: center;">
                    <h5>El usuario no tiene ninguna tarea asignada</h5>
                </div>
            {% endfor %}
            {% if tareasUser is not null %}
            </tbody>
        </table>
            {% endif %}
        <hr/>
    </div>
    <aside class="col-lg-3" style="border-left: 1px solid black !important; margin-top: 30px;">
        <h4><strong>Acciones:</strong></h4>
        <a href="index.php?controller=archivo&action=archivosUsuario&usuario={{user.idUser}}" class="col-xs-12 btn btn-info btn-sm acciones-btns" title="Archivos del Usuario">Archivos del Usuario</a>
        <br><br>
        <a href="index.php?controller=comentario&action=comentariosUsuario&usuario={{user.idUser}}" class="col-xs-12 btn btn-info btn-sm acciones-btns" title="Comentarios del Usuario">Comentarios del Usuario</a>
        <br><br>
        <a href="javascript: history.back()" class="col-xs-12 btn btn-primary btn-sm acciones-btns" title="Volver">Volver</a>
    </aside>
{% endblock %}
