{% extends "layout.html" %}
{% block container %}
    <div class="col-lg-9">
        <h3>Tareas del Usuario</h3>
        <hr/>
        <table class="table col-lg-12">
            <!-- Tabla para mostrar los datos de cada tarea del usuario -->
            {% if tareasUser is null %}
                <thead>
                    <tr>
                        <th scope="col">Proyecto</th>
                        <th scope="col">Tarea</th>
                        <th scope="col">Inicio</th>
                        <th scope="col">Finalización</th>
                        <th scope="col">Urgente</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
            {% endif %}
            <tbody>
            {% for tarea in tareasUser %}
                <tr>
                    <td>{{tarea.nombre}}</td>
                    <td>{{tarea.nombreTarea}}</td>
                    <td>{{tarea.fechaInicioTarea}}</td>
                    <td>{{tarea.fechaFinTarea}}</td>
                    <td>{{tarea.urgente}}</td>
                    <td>
                        <!-- Enlace para el boton Gestionar para mostrar los datos del proyecto en el que está la tarea (se pasa como action -> verDetalle) -->
                        <a href="index.php?controller=proyecto&action=verDetalle&proyecto={{tarea.idProyecto}}&tarea={{tarea.idTarea}}" class="btn btn-info btn-sm" style="text-decoration: none">
                            Entrar
                        </a>
                    </td>
                </tr>
            {% else %}
                <div id="mensajeTareasUser" style="border: 1px solid black; text-align: center;">
                    <h5>El usuario no tiene ninguna tarea asignada</h5>
                </div>
            {% endfor %}
            </tbody>
        </table>
        <hr/>
    </div>
    <aside class="col-lg-3" style="border-left: 1px solid black !important; margin-top: 30px;">
        <h4><strong>Proyecto:</strong></h4>
        Nombre:
        <br>
        <input type="text" name="nombreProyecto" class="form-control" value="{{user.username}}" disabled />
        <br>
        Descripción:
        <br>
        <input type="text" name="descripcionProyecto" class="form-control" value="{{user.email}}" disabled />
        <br>
        <a href="" class="btn btn-warning btn-sm" title="Modificar Datos" style="width: 252px !important">Modificar Datos</a> <!-- antes era 180px -->
        <br>
        <hr style="border:1px solid black"/>
        <h4><strong>Acciones:</strong></h4>
        <a href="" class="btn btn-info btn-sm" title="Ver Archivos" style="width: 252px !important">Ver Archivos</a>
        <br><br>
        <a href="" class="btn btn-info btn-sm" title="Ver Comentarios" style="width: 252px !important">Ver Comentarios</a>
        <br><br>
        <a href="javascript:history.back()" class="btn btn-primary btn-sm" title="Volver" style="width: 252px !important">Volver</a>
    </aside>
{% endblock %}
